application/controllers/cadb/xsd/provision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.kapsch.hr/cadb/schemas/ProvisionOperationService"
		xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="confirmRoutingDataRequest">
		<complexType>
			<sequence>
				<element name="processId" type="string" minOccurs="1" maxOccurs="1" nillable="false"/>
			</sequence>
		</complexType>
	</element>

	<element name="confirmRoutingDataResponse">
		<complexType/>
	</element>

</schema>
