application/controllers/svi/RIOMock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://rio.ocam.orange.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://rio.ocam.orange.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://rio.ocam.orange.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rio.ocam.orange.com" xmlns:ax22="http://rio.ocam.orange.com/xsd">
      <xs:import namespace="http://rio.ocam.orange.com/xsd"/>
      <xs:element name="getRioRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRioResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:RIOInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rio.ocam.orange.com/xsd">
      <xs:complexType name="RIOInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="language" nillable="true">
            <restriction base="string">
              <enumeration value="FR"/>
              <enumeration value="EN"/>
            </restriction>
          </xs:element>
          <xs:element minOccurs="0" name="rioNumber" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getRioRequest">
    <wsdl:part name="parameters" element="ns:getRioRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRioResponse">
    <wsdl:part name="parameters" element="ns:getRioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RIOServicePortType">
    <wsdl:operation name="getRio">
      <wsdl:input message="ns:getRioRequest" wsaw:Action="urn:getRio">
    </wsdl:input>
      <wsdl:output message="ns:getRioResponse" wsaw:Action="urn:getRioResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RIOServiceBinding" type="ns:RIOServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRio">
      <soap12:operation soapAction="urn:getRio" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RIOService">
    <wsdl:port name="RIOServiceEndpoint" binding="ns:RIOServiceBinding">
      <soap12:address location="http://172.21.75.34/SGP/svi/SVI"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
