application/controllers/cadb/wsdl/ProvisionOperationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ProvisionOperationService"
		targetNamespace="http://www.kapsch.hr/cadb/schemas/ProvisionOperationService"
		xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:tns="http://www.kapsch.hr/cadb/schemas/ProvisionOperationService"
		xmlns:fault="http://www.kapsch.hr/cadb/schemas/fault" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<types>
		<xsd:schema targetNamespace="http://www.kapsch.hr/cadb/schemas/ProvisionOperationService">
			<xsd:include schemaLocation="../xsd/provision.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.kapsch.hr/cadb/schemas/fault">
			<xsd:include schemaLocation="../xsd/fault.xsd"/>
		</xsd:schema>
	</types>

	<message name="ConfirmRoutingDataRequestMessage">
		<part name="body" element="tns:confirmRoutingDataRequest"/>
	</message>

	<message name="ConfirmRoutingDataResponseMessage">
		<part name="body" element="tns:confirmRoutingDataResponse"/>
	</message>

	<message name="InvalidOperatorFaultMessage">
		<part name="body" element="fault:invalidOperatorFault"/>
	</message>

	<message name="ActionNotAvailableFaultMessage">
		<part name="body" element="fault:actionNotAvailableFault"/>
	</message>

	<message name="InvalidCadbIdFaultMessage">
		<part name="body" element="fault:invalidCadbIdFault"/>
	</message>

	<message name="InvalidRequestFormatFaultMessage">
		<part name="body" element="fault:invalidRequestFormatFault"/>
	</message>

	<portType name="ProvisionOperationServicePortType">
		<operation name="confirmRoutingData">
			<input message="tns:ConfirmRoutingDataRequestMessage"/>
			<output message="tns:ConfirmRoutingDataResponseMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="actionNotAvailableFault" message="tns:ActionNotAvailableFaultMessage"/>
			<fault name="invalidCadbIdFault" message="tns:InvalidCadbIdFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			
		</operation>
	</portType>

	<binding name="ProvisionOperationServiceBinding" type="tns:ProvisionOperationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="confirmRoutingData">
			<soap:operation soapAction="confirmRoutingData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="actionNotAvailableFault">
				<soap:fault name="actionNotAvailableFault" use="literal"/>
			</fault>
			<fault name="invalidCadbIdFault">
				<soap:fault name="invalidCadbIdFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="ProvisionOperationService">
		<port name="ProvisionOperationServicePort" binding="tns:ProvisionOperationServiceBinding">
			<soap:address location="http://cameroonmnp.campost.cm/cadb/services/ProvisionOperationService/"/>
		</port>
	</service>

</definitions>
