application/controllers/cadb/wsdl/ReturnOperationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ReturnOperationService" 
		targetNamespace="http://www.kapsch.hr/cadb/schemas/ReturnOperationService" 
		xmlns="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:tns="http://www.kapsch.hr/cadb/schemas/ReturnOperationService"
		xmlns:fault="http://www.kapsch.hr/cadb/schemas/fault"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<types>
		<xsd:schema targetNamespace="http://www.kapsch.hr/cadb/schemas/ReturnOperationService">
			<xsd:include schemaLocation="../xsd/return.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.kapsch.hr/cadb/schemas/fault">
			<xsd:include schemaLocation="../xsd/fault.xsd"/>
		</xsd:schema>
	</types>

	<message name="OpenRequestMessage">
		<part name="body" element="tns:openRequest"/>
	</message>

	<message name="OpenResponseMessage">
		<part name="body" element="tns:openResponse"/>
	</message>

	<message name="AcceptRequestMessage">
		<part name="body" element="tns:acceptRequest"/>
	</message>

	<message name="AcceptResponseMessage">
		<part name="body" element="tns:acceptResponse"/>
	</message>

	<message name="RejectRequestMessage">
		<part name="body" element="tns:rejectRequest"/>
	</message>

	<message name="RejectResponseMessage">
		<part name="body" element="tns:rejectResponse"/>
	</message>

	<message name="getReturningTransactionRequestMessage">
		<part name="body" element="tns:getReturningTransactionRequest"/>
	</message>

	<message name="getReturningTransactionResponseMessage">
		<part name="body" element="tns:getReturningTransactionResponse"/>
	</message>

	<message name="getCurrentReturningTransactionsRequestMessage">
		<part name="body" element="tns:getCurrentReturningTransactionsRequest"/>
	</message>

	<message name="getCurrentReturningTransactionsResponseMessage"> 
		<part name="body" element="tns:getCurrentReturningTransactionsResponse"/>
	</message>

	<message name="NumberRangesOverlapFaultMessage">
		<part name="body" element="fault:numberRangesOverlapFault"/>
	</message>

	<message name="NumberReservedByProcessFaultMessage">
		<part name="body" element="fault:numberReservedByProcessFault"/>
	</message>

	<message name="NumberNotOwnedByOperatorFaultMessage">
		<part name="body" element="fault:numberNotOwnedByOperatorFault"/>
	</message>

	<message name="UnknownManagedNumberFaultMessage">
		<part name="body" element="fault:unknownManagedNumberFault"/>
	</message>

	<message name="NumberQuantityLimitExceededFaultMessage">
		<part name="body" element="fault:numberQuantityLimitExceededFault"/>
	</message>

	<message name="NumberRangeQuantityLimitExceededFaultMessage">
		<part name="body" element="fault:numberRangeQuantityLimitExceededFault"/>
	</message>

	<message name="InvalidOperatorFaultMessage">
		<part name="body" element="fault:invalidOperatorFault"/>
	</message>

	<message name="NumberNotPortedFaultMessage">
		<part name="body" element="fault:numberNotPortedFault"/>
	</message>

	<message name="InvalidRequestFormatFaultMessage">
		<part name="body" element="fault:invalidRequestFormatFault"/>
	</message>

	<message name="ActionNotAuthorizedFaultMessage">
		<part name="body" element="fault:actionNotAuthorizedFault"/>
	</message>

	<message name="MultiplePrimaryOwnersFaultMessage">
		<part name="body" element="fault:multiplePrimaryOwnersFault"/>
	</message>

	<message name="UnknownNumberFaultMessage">
		<part name="body" element="fault:unknownNumberFault"/>
	</message>

	<message name="ReturnActionNotAvailableFaultMessage">
		<part name="body" element="fault:returnActionNotAvailableFault"/>
	</message>

	<message name="InvalidReturnIdFaultMessage">
		<part name="body" element="fault:invalidReturnIdFault"/>
	</message>

	<message name="CauseMissingFaultMessage">
		<part name="body" element="fault:causeMissingFault"/>
	</message>

	<portType name="ReturnOperationServicePortType">
		<operation name="open">
			<input message="tns:OpenRequestMessage"/>
			<output message="tns:OpenResponseMessage"/>
			<fault name="numberRangesOverlapFault" message="tns:NumberRangesOverlapFaultMessage"/>
			<fault name="numberNotOwnedByOperatorFault" message="tns:NumberNotOwnedByOperatorFaultMessage"/>
			<fault name="unknownManagedNumberFault" message="tns:UnknownManagedNumberFaultMessage"/>
			<fault name="numberQuantityLimitExceededFault" message="tns:NumberQuantityLimitExceededFaultMessage"/>
			<fault name="numberRangeQuantityLimitExceededFault" message="tns:NumberRangeQuantityLimitExceededFaultMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="numberNotPortedFault" message="tns:NumberNotPortedFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="actionNotAuthorizedFault" message="tns:ActionNotAuthorizedFaultMessage"/>
			<fault name="multiplePrimaryOwnersFault" message="tns:MultiplePrimaryOwnersFaultMessage"/>
			<fault name="unknownNumberFault" message="tns:UnknownNumberFaultMessage"/>
			<fault name="numberReservedByProcessFault" message="tns:NumberReservedByProcessFaultMessage"/>
		</operation>
		<operation name="accept">
			<input message="tns:AcceptRequestMessage"/>
			<output message="tns:AcceptResponseMessage"/>
			<fault name="returnActionNotAvailableFault" message="tns:ReturnActionNotAvailableFaultMessage"/>
			<fault name="invalidReturnIdFault" message="tns:InvalidReturnIdFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
		</operation>
		<operation name="reject">
			<input message="tns:RejectRequestMessage"/>
			<output message="tns:RejectResponseMessage"/>
			<fault name="returnActionNotAvailableFault" message="tns:ReturnActionNotAvailableFaultMessage"/>
			<fault name="invalidReturnIdFault" message="tns:InvalidReturnIdFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="causeMissingFault" message="tns:CauseMissingFaultMessage"/>
		</operation>
		<operation name="getReturningTransaction">
			<input message="tns:getReturningTransactionRequestMessage"/>
			<output message="tns:getReturningTransactionResponseMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="actionNotAuthorizedFault" message="tns:ActionNotAuthorizedFaultMessage"/>
			<fault name="invalidReturnIdFault" message="tns:InvalidReturnIdFaultMessage"/>
		</operation>
		<operation name="getCurrentReturningTransactions">
			<input message="tns:getCurrentReturningTransactionsRequestMessage"/>
			<output message="tns:getCurrentReturningTransactionsResponseMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
		</operation>
	</portType>

	<binding name="ReturnOperationServiceBinding" type="tns:ReturnOperationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="open">
			<soap:operation soapAction="open"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="numberRangesOverlapFault">
				<soap:fault name="numberRangesOverlapFault" use="literal"/>
			</fault>
			<fault name="numberReservedByProcessFault">
				<soap:fault name="numberReservedByProcessFault" use="literal"/>
			</fault>
			<fault name="numberNotOwnedByOperatorFault">
				<soap:fault name="numberNotOwnedByOperatorFault" use="literal"/>
			</fault>
			<fault name="unknownManagedNumberFault">
				<soap:fault name="unknownManagedNumberFault" use="literal"/>
			</fault>
			<fault name="numberQuantityLimitExceededFault">
				<soap:fault name="numberQuantityLimitExceededFault" use="literal"/>
			</fault>
			<fault name="numberRangeQuantityLimitExceededFault">
				<soap:fault name="numberRangeQuantityLimitExceededFault" use="literal"/>
			</fault>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="numberNotPortedFault">
				<soap:fault name="numberNotPortedFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="actionNotAuthorizedFault">
				<soap:fault name="actionNotAuthorizedFault" use="literal"/>
			</fault>
			<fault name="multiplePrimaryOwnersFault">
				<soap:fault name="multiplePrimaryOwnersFault" use="literal"/>
			</fault>
			<fault name="unknownNumberFault">
				<soap:fault name="unknownNumberFault" use="literal"/>
			</fault>
			<fault name="numberReservedByProcessFault">
				<soap:fault name="numberReservedByProcessFault" use="literal"/>
			</fault>
			<fault name="numberRangeQuantityLimitExceededFault">
				<soap:fault name="numberRangeQuantityLimitExceededFault" use="literal"/>
			</fault>
		</operation>

		<operation name="accept">
			<soap:operation soapAction="accept"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="returnActionNotAvailableFault">
				<soap:fault name="returnActionNotAvailableFault" use="literal"/>
			</fault>
			<fault name="invalidReturnIdFault">
				<soap:fault name="invalidReturnIdFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
		</operation>

		<operation name="reject">
			<soap:operation soapAction="reject"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="returnActionNotAvailableFault">
				<soap:fault name="returnActionNotAvailableFault" use="literal"/>
			</fault>
			<fault name="invalidReturnIdFault">
				<soap:fault name="invalidReturnIdFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="causeMissingFault">
				<soap:fault name="causeMissingFault" use="literal"/>
			</fault>
		</operation>

		<operation name="getReturningTransaction">
			<soap:operation soapAction="getReturningTransaction"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="actionNotAuthorizedFault">
				<soap:fault name="actionNotAuthorizedFault" use="literal"/>
			</fault>
			<fault name="invalidReturnIdFault">
				<soap:fault name="invalidReturnIdFault" use="literal"/>
			</fault>
		</operation>

		<operation name="getCurrentReturningTransactions">
			<soap:operation soapAction="getCurrentReturningTransactions"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="ReturnOperationService">
		<port name="ReturnOperationServicePort" binding="tns:ReturnOperationServiceBinding">
			<soap:address location="http://cameroonmnp.campost.cm/cadb/services/ReturnOperationService/"/>
		</port>
	</service>

</definitions>
