application/controllers/cadb/wsdl/RollbackOperationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RollbackOperationService"
		targetNamespace="http://www.kapsch.hr/cadb/schemas/RollbackOperationService"
		xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:tns="http://www.kapsch.hr/cadb/schemas/RollbackOperationService"
		xmlns:fault="http://www.kapsch.hr/cadb/schemas/fault"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<types>
		<xsd:schema targetNamespace="http://www.kapsch.hr/cadb/schemas/RollbackOperationService">
			<xsd:include schemaLocation="../xsd/rollback.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.kapsch.hr/cadb/schemas/fault">
			<xsd:include schemaLocation="../xsd/fault.xsd"/>
		</xsd:schema>
	</types>

	<message name="OpenRequestMessage">
		<part name="body" element="tns:openRequest"/>
	</message>

	<message name="OpenResponseMessage">
		<part name="body" element="tns:openResponse"/>
	</message>

	<message name="AcceptRequestMessage">
		<part name="body" element="tns:acceptRequest"/>
	</message>

	<message name="AcceptResponseMessage">
		<part name="body" element="tns:acceptResponse"/>
	</message>

	<message name="RejectRequestMessage">
		<part name="body" element="tns:rejectRequest"/>
	</message>

	<message name="RejectResponseMessage">
		<part name="body" element="tns:rejectResponse"/>
	</message>

	<message name="ConfirmRequestMessage">
		<part name="body" element="tns:confirmRequest"/>
	</message>

	<message name="ConfirmResponseMessage">
		<part name="body" element="tns:rejectResponse"/>
	</message>

	<message name="GetRollbackRequestMessage">
		<part name="body" element="tns:getRollbackRequest"/>
	</message>

	<message name="GetRollbackResponseMessage">
		<part name="body" element="tns:getRollbackResponse"/>
	</message>

	<message name="GetOpenedRollbacksRequestMessage">
		<part name="body" element="tns:getOpenedRollbacksRequest"/>
	</message>

	<message name="GetOpenedRollbacksResponseMessage">
		<part name="body" element="tns:getOpenedRollbacksResponse"/>
	</message>

	<message name="GetAcceptedRollbacksRequestMessage">
		<part name="body" element="tns:getAcceptedRollbacksRequest"/>
	</message>

	<message name="GetAcceptedRollbacksResponseMessage">
		<part name="body" element="tns:getAcceptedRollbacksResponse"/>
	</message>

	<message name="GetConfirmedRollbacksRequestMessage">
		<part name="body" element="tns:getConfirmedRollbacksRequest"/>
	</message>

	<message name="GetConfirmedRollbacksResponseMessage">
		<part name="body" element="tns:getConfirmedRollbacksResponse"/>
	</message>

	<message name="GetRejectedRollbacksRequestMessage">
		<part name="body" element="tns:getRejectedRollbacksRequest"/>
	</message>

	<message name="GetRejectedRollbacksResponseMessage">
		<part name="body" element="tns:getRejectedRollbacksResponse"/>
	</message>

	<message name="RollbackNotAllowedFaultMessage">
		<part name="body" element="fault:rollbackNotAllowedFault"/>
	</message>

	<message name="UnknownPortingIdFaultMessage">
		<part name="body" element="fault:unknownPortingIdFault"/>
	</message>

	<message name="InvalidOperatorFaultMessage">
		<part name="body" element="fault:invalidOperatorFault"/>
	</message>

	<message name="InvalidRequestFormatFaultMessage">
		<part name="body" element="fault:invalidRequestFormatFault"/>
	</message>

	<message name="ActionNotAuthorizedFaultMessage">
		<part name="body" element="fault:actionNotAuthorizedFault"/>
	</message>

	<message name="RollbackActionNotAvailableFaultMessage">
		<part name="body" element="fault:rollbackActionNotAvailableFault"/>
	</message>

	<message name="InvalidRollbackIdFaultMessage">
		<part name="body" element="fault:invalidRollbackIdFault"/>
	</message>

	<message name="CauseMissingFaultMessage">
		<part name="body" element="fault:causeMissingFault"/>
	</message>

	<message name="CountOverMaxCountLimitFaultMessage">
		<part name="body" element="fault:countOverMaxCountLimitFault"/>
	</message>

	<portType name="RollbackOperationServicePortType">
		<operation name="open">
			<input message="tns:OpenRequestMessage"/>
			<output message="tns:OpenResponseMessage"/>
			<fault name="rollbackNotAllowedFault" message="tns:RollbackNotAllowedFaultMessage"/>
			<fault name="unknownPortingIdFault" message="tns:UnknownPortingIdFaultMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="actionNotAuthorizedFault" message="tns:ActionNotAuthorizedFaultMessage"/>
		</operation>
		<operation name="accept">
			<input message="tns:AcceptRequestMessage"/>
			<output message="tns:AcceptResponseMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="rollbackActionNotAvailableFault" message="tns:RollbackActionNotAvailableFaultMessage"/>
			<fault name="invalidRollbackIdFault" message="tns:InvalidRollbackIdFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
		</operation>
		<operation name="reject">
			<input message="tns:RejectRequestMessage"/>
			<output message="tns:RejectResponseMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="rollbackActionNotAvailableFault" message="tns:RollbackActionNotAvailableFaultMessage"/>
			<fault name="invalidRollbackIdFault" message="tns:InvalidRollbackIdFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="causeMissingFault" message="tns:CauseMissingFaultMessage"/>
		</operation>
		<operation name="confirm">
			<input message="tns:ConfirmRequestMessage"/>
			<output message="tns:ConfirmResponseMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="rollbackActionNotAvailableFault" message="tns:RollbackActionNotAvailableFaultMessage"/>
			<fault name="invalidRollbackIdFault" message="tns:InvalidRollbackIdFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
		</operation>
		<operation name="getRollback">
			<input message="tns:GetRollbackRequestMessage"/>
			<output message="tns:GetRollbackResponseMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="actionNotAuthorizedFault" message="tns:ActionNotAuthorizedFaultMessage"/>
			<fault name="invalidRollbackIdFault" message="tns:InvalidRollbackIdFaultMessage"/>
		</operation>
		<operation name="getOpenedRollbacks">
			<input message="tns:GetOpenedRollbacksRequestMessage"/>
			<output message="tns:GetOpenedRollbacksResponseMessage"/>			
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="actionNotAuthorizedFault" message="tns:ActionNotAuthorizedFaultMessage"/>
		</operation>
		<operation name="getAcceptedRollbacks">
			<input message="tns:GetAcceptedRollbacksRequestMessage"/>
			<output message="tns:GetAcceptedRollbacksResponseMessage"/>			
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="actionNotAuthorizedFault" message="tns:ActionNotAuthorizedFaultMessage"/>
		</operation>
		<operation name="getConfirmedRollbacks">
			<input message="tns:GetConfirmedRollbacksRequestMessage"/>
			<output message="tns:GetConfirmedRollbacksResponseMessage"/>			
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="actionNotAuthorizedFault" message="tns:ActionNotAuthorizedFaultMessage"/>
		</operation>
		<operation name="getRejectedRollbacks">
			<input message="tns:GetRejectedRollbacksRequestMessage"/>
			<output message="tns:GetRejectedRollbacksResponseMessage"/>
			<fault name="invalidOperatorFault" message="tns:InvalidOperatorFaultMessage"/>
			<fault name="invalidRequestFormatFault" message="tns:InvalidRequestFormatFaultMessage"/>
			<fault name="actionNotAuthorizedFault" message="tns:ActionNotAuthorizedFaultMessage"/>
			<fault name="countOverMaxCountLimitFault" message="tns:CountOverMaxCountLimitFaultMessage"/>
		</operation>
	</portType>

	<binding name="RollbackOperationServiceBinding" type="tns:RollbackOperationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="open">
			<soap:operation soapAction="open"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="rollbackNotAllowedFault">
				<soap:fault name="rollbackNotAllowedFault" use="literal"/>
			</fault>
			<fault name="unknownPortingIdFault">
				<soap:fault name="unknownPortingIdFault" use="literal"/>
			</fault>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="actionNotAuthorizedFault">
				<soap:fault name="actionNotAuthorizedFault" use="literal"/>
			</fault>
		</operation>

		<operation name="accept">
			<soap:operation soapAction="accept"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="rollbackActionNotAvailableFault">
				<soap:fault name="rollbackActionNotAvailableFault" use="literal"/>
			</fault>
			<fault name="invalidRollbackIdFault">
				<soap:fault name="invalidRollbackIdFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
		</operation>

		<operation name="reject">
			<soap:operation soapAction="reject"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="rollbackActionNotAvailableFault">
				<soap:fault name="rollbackActionNotAvailableFault" use="literal"/>
			</fault>
			<fault name="invalidRollbackIdFault">
				<soap:fault name="invalidRollbackIdFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="causeMissingFault">
				<soap:fault name="causeMissingFault" use="literal"/>
			</fault>
		</operation>

		<operation name="confirm">
			<soap:operation soapAction="confirm"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="rollbackActionNotAvailableFault">
				<soap:fault name="rollbackActionNotAvailableFault" use="literal"/>
			</fault>
			<fault name="invalidRollbackIdFault">
				<soap:fault name="invalidRollbackIdFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
		</operation>

		<operation name="getRollback">
			<soap:operation soapAction="getRollback"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="actionNotAuthorizedFault">
				<soap:fault name="actionNotAuthorizedFault" use="literal"/>
			</fault>
			<fault name="invalidRollbackIdFault">
				<soap:fault name="invalidRollbackIdFault" use="literal"/>
			</fault>
		</operation>

		<operation name="getOpenedRollbacks">
			<soap:operation soapAction="getOpenedRollbacks"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="actionNotAuthorizedFault">
				<soap:fault name="actionNotAuthorizedFault" use="literal"/>
			</fault>
		</operation>

		<operation name="getAcceptedRollbacks">
			<soap:operation soapAction="getAcceptedRollbacks"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="actionNotAuthorizedFault">
				<soap:fault name="actionNotAuthorizedFault" use="literal"/>
			</fault>
		</operation>

		<operation name="getConfirmedRollbacks">
			<soap:operation soapAction="getConfirmedRollbacks"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="actionNotAuthorizedFault">
				<soap:fault name="actionNotAuthorizedFault" use="literal"/>
			</fault>
		</operation>

		<operation name="getRejectedRollbacks">
			<soap:operation soapAction="getRejectedRollbacks"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="invalidOperatorFault">
				<soap:fault name="invalidOperatorFault" use="literal"/>
			</fault>
			<fault name="invalidRequestFormatFault">
				<soap:fault name="invalidRequestFormatFault" use="literal"/>
			</fault>
			<fault name="actionNotAuthorizedFault">
				<soap:fault name="actionNotAuthorizedFault" use="literal"/>
			</fault>
			<fault name="countOverMaxCountLimitFault">
				<soap:fault name="countOverMaxCountLimitFault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="RollbackOperationService">
		<port name="RollbackOperationServicePort" binding="tns:RollbackOperationServiceBinding">
			<soap:address location="http://cameroonmnp.campost.cm/cadb/services/RollbackOperationService/"/>
		</port>
	</service>

</definitions>
